@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;500;700&family=Montserrat:wght@100;400;700&display=swap');

body {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;

    font-family: 'Montserrat';
    text-align: center;

    background-color: rgb(194, 194, 255);
}

nav a {
    text-decoration: none;
}

#dataTable {
    
}
